@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-clr: rgb(151, 139, 255);
    --secondary-btn: rgb(65, 144, 255);
    --pure-white: white;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(58, 64, 180);
    background: -moz-linear-gradient(39deg, rgba(58, 64, 180, 1) 0%, rgba(69, 116, 252, 1) 35%, rgba(252, 69, 180, 1) 66%, rgba(252, 69, 69, 1) 100%);
    background: -webkit-linear-gradient(39deg, rgba(58, 64, 180, 1) 0%, rgba(69, 116, 252, 1) 35%, rgba(252, 69, 180, 1) 66%, rgba(252, 69, 69, 1) 100%);
    background: linear-gradient(39deg, rgba(58, 64, 180, 1) 0%, rgba(69, 116, 252, 1) 35%, rgba(252, 69, 180, 1) 66%, rgba(252, 69, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a40b4", endColorstr="#fc4545", GradientType=1);
    padding: 20px;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    user-select: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.25);
}

.header {
    width: 100%;
    color: var(--pure-white);
    background: var(--primary-clr);
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header div span {
    font-weight: 500;
}

h3 {
    font-weight: 300;
}

.input {
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
    padding: 5px 10px;
    height: 180px;
}

textarea.upper {
    text-transform: uppercase;
}

textarea.capital {
    text-transform: capitalize;
}

textarea.lower {
    text-transform: lowercase;
}

.clear_btn,
textarea,
.casing {
    outline: none;
    border: none;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    flex-grow: 3;
}

.btn {
    width: 100%;
    background: rgb(151, 139, 255);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}


.btn .my,
.btn .to-change,
.btn .reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pure-white);
}

.btn .my {
    padding: 00px 10px;
}

.btn a {
    color: var(--pure-white);
    text-decoration: none;
    font-size: 10px;
    position: relative;
}

.btn a::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.182);
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
}

.btn .to-change {
    justify-content: space-between;
    flex-grow: 3;
    padding-right: 20px;
}

.btn .to-change span {
    font-size: 12px;

}

.btn .to-change button {
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 8px;
    cursor: pointer;
    transition: scale .1s;
}

.btn .to-change button:active {
    scale: .989;
}

.reset-btn {
    background-color: var(--secondary-btn);

}

.reset-btn button {
    background: none;
    color: var(--pure-white);
    padding: 8px 10px;
    cursor: pointer;
}

@media (min-width:180px) and (max-width:290px) {
    .feature {
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 3;
        padding: 10px 0;
        margin-left: 17px;
    }

    .header {
        gap: 13px;
    }

    .header div {
        font-size: 12px;
    }

    .btn .my {
        padding: 0px 0px;
    }

    .btn .to-change {
        align-items: flex-start;
        flex-direction: column;
        gap: 5px;
    }
}

@media (min-width:291px) and (max-width:430px) {
    .feature {
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 3;
        padding: 10px 0;
        margin-left: 17px;
    }

    .btn .my {
        padding: 0px 0px;
    }

    .btn .to-change {
        align-items: flex-start;
        flex-direction: column;
        gap: 5px;
    }
}


@media (min-width:431px) and (max-width:500px) {
    .feature {
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 3;
        padding: 10px 0;
        margin-left: 17px;
        gap: 15px;
    }

    .btn .my {
        padding: 0px 0px;
    }

    .btn a::after {
        right: -10px;
    }

    .btn .to-change {
        justify-content: space-between;
        gap: 20px;
    }

    textarea {
        font-size: 12px;
    }

}