@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-clr: rgb(151, 139, 255);
    --secondary-btn: rgb(65, 144, 255);
    --pure-white: white;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(58, 64, 180);
    background: -moz-linear-gradient(90deg, rgba(58, 64, 180, 1) 0%, rgba(69, 165, 252, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(58, 64, 180, 1) 0%, rgba(69, 165, 252, 1) 100%);
    background: linear-gradient(90deg, rgba(58, 64, 180, 1) 0%, rgba(69, 165, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a40b4", endColorstr="#45a5fc", GradientType=1);
    padding: 20px;
    user-select: none;
}

.container {
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.25);
}

.header {
    width: 100%;
    color: var(--pure-white);
    background: var(--primary-clr);
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.header div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header div span {
    font-weight: 500;
}

h3 {
    font-weight: 200;
}



.input {
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
    padding: 5px 10px;
    height: 180px;
}

.clear_btn,
textarea,
.casing {
    outline: none;
    border: none;
}

.btn {
    width: 100%;
    background: rgb(151, 139, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.btn .my,
.btn .to-change,
.btn .reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pure-white);
}

.btn .my {
    padding: 10px 10px;
}

.btn a {
    color: var(--pure-white);
    text-decoration: none;
    font-size: 10px;
    position: relative;
}

.btn a::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.182);
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
}

.btn .to-change {
    justify-content: space-between;
    padding: 6px 50px 6px 0;
    flex-grow: 1;
    height: 100%;
}

.btn .to-change span {
    font-size: 12px;

}

.btn .to-change button {
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 8px;
    cursor: pointer;
    transition: scale .1s;
}

.btn .to-change button:active {
    scale: .989;
}

.reset-btn {
    padding: 7px 0px;
    background-color: var(--secondary-btn);
}

.reset-btn button {
    background: none;
    padding: 1px 10px;
    border-radius: 2px;
    color: var(--pure-white);
}